* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "sabad-regular";
    src: url("../assets/fonts/YekanBakh-Regular.woff");
}

@font-face {
    font-family: "sabad-bold";
    src: url("../assets/fonts/YekanBakh-Bold.woff");
}

@font-face {
    font-family: "sabad-extrablack";
    src: url("../assets/fonts/YekanBakh-ExtraBlack.woff");
}

@font-face {
    font-family: "sabad-price";
    src: url("../assets/fonts/IRANSansXFaNum-Bold.woff");
}

.bold {
    font-family: "sabad-bold" !important;
}

.extrablack {
    font-family: "sabad-extrablack" !important;
}

.price {
    font-family: "sabad-price" !important;
}

body {
    color: #121212;
    background: #FFF;
    font-family: "sabad-regular";
}

.btn-primary {
    background: #E18236;
    border: #E18236;
}

.btn-primary:hover {
    background: #eb8d40;
}

.btn-primary:active {
    background-color: #fd9f51 !important;
}

.border-primary-subtle {
    border-color: #E18236 !important;
}